:root {
  --color-orange: 233, 166, 81;
  --color-darkgreen: 0, 154, 167;
}

@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");

.sp {
  display: none;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none;
  }

  .sp {
    display: inline-block;
  }
}

b {
  font-weight: 500;
}

.c-pageheader {
  position: relative;
  height: 482px;
  display: flex;
  z-index: -1;
  margin-bottom: 120px;
  @media screen and (max-width: 768px) {
    height: auto;
    margin-bottom: 60px;
    margin-top: 120px;
    .l-container {
      padding-block: 20px;
    }
  }
  &_title {
    width: fit-content;
    &--en {
      font-size: 20px;
      text-transform: uppercase;
      background: linear-gradient(90deg, #63aee1, #75c5b5);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
    &--jp {
      font-size: 38px;
      @media screen and (max-width: 768px) {
        font-size: 22px;
      }
    }
    &:before {
      content: "";
      background: url(../images//lower/accessmap/kv.png) no-repeat center;
      width: calc((762 / 1440) * 100vw) !important;
      height: calc((482 / 1440) * 100vw) !important;
      max-width: 762px;
      max-height: 482px;
      position: absolute;
      background-size: cover !important;
      top: 0px;
      right: -100px;
      z-index: -1;
      @media screen and (max-width: 768px) {
        width: 160px !important;
        height: 100px !important;
        background-size: contain !important;
        right: -20px;
      }
    }

    &--accessmap {
      &:before {
        background: url(../images//lower/accessmap/kv.png) no-repeat center;
      }
    }

    &--year {
      &:before {
        background: url(../images//lower/campuslife/kv.png) no-repeat center;
      }
    }

    &--corporate {
      &:before {
        background: url(../images//lower/corporate/kv.png) no-repeat center;
      }
    }

    &--course {
      &:before {
        background: url(../images//lower/course/kv.png) no-repeat center;
      }
    }

    &--department {
      &:before {
        background: url(../images//lower/department/kv.png) no-repeat center;
      }
    }

    &--qa {
      &:before {
        background: url(../images//lower/faq/kv.png) no-repeat center;
      }
    }

    &--support {
      &:before {
        background: url(../images//lower/support/kv.png) no-repeat center;
      }
    }

    &--guidelines {
      &:before {
        background: url(../images//lower/guidelines/kv.png) no-repeat center;
      }
    }

    &--jobdata {
      &:before {
        background: url(../images//lower/jobdata/kv.png) no-repeat center;
      }
    }

    &--web-entry {
      &:before {
        background: url(../images//lower/online-admissions/kv.png) no-repeat center;
      }
    }
  }
}

.c-sec {
  padding: 0px 0 120px;
  @media screen and (max-width: 768px) {
    padding: 60px 0 00px;
  }

  &__title--big {
    span {
      font-size: 32px;
      margin-bottom: 40px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
        margin-bottom: 25px;
      }
    }
  }
  &__lead {
    margin-bottom: 100px;
    @media screen and (max-width: 768px) {
      margin-bottom: 60px;
    }
    h2 {
      margin-bottom: 30px;
    }
    .desc {
      margin-top: 0 !important;
      margin-bottom: 40px !important;
      line-height: 2em;
      span {
        font-size: 20px;
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
    }
  }
}

.c-lower__title {
  font-size: 32px;
  @media screen and (max-width: 768px) {
    font-size: 26px;
  }
}

// 声

.c-voice {
  border-radius: 0px 20px 20px 20px;
  background: rgba(224, 138, 149, 0.05);
  border: 1px solid rgba(224, 138, 149, 1);
  margin-top: 50px;
  padding: 25px 40px !important;
  position: relative;
  @media screen and (max-width: 768px) {
    padding: 25px 15px;
  }
  &__deco {
    position: absolute;
    left: -1px;
    top: -35px;
    padding: 5px 20px;
    background-color: rgba(224, 138, 149, 1);
    border-radius: 10px 10px 0 0;
    color: #fff;
  }
  figure {
    gap: 20px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    img {
      max-width: 115px;
      aspect-ratio: 1;
    }
    figcaption {
      width: 80%;
      font-size: 14px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      h4 {
        font-size: 24px;
        margin-bottom: 10px;
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
      p {
        margin: 0 !important;
      }
    }
  }
}

// ポイント

.c-point {
  &__item {
    border-radius: 0px 20px 20px 20px;
    background: rgba(var(--color-main), 0.1);
    border: 1px solid rgba(var(--color-main), 1);
    margin-top: 50px;
    padding: 30px 40px;
    position: relative;
    @media screen and (max-width: 768px) {
      padding: 25px 15px;
    }
    &:not(:last-child) {
      margin-bottom: 80px;
      @media screen and (max-width: 768px) {
        margin-bottom: 60px;
      }
    }
  }
  &__deco {
    position: absolute;
    left: -1px;
    top: -39px;
    padding: 0px 20px;
    background-color: rgba(var(--color-main), 1);
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-size: 12px;
    b {
      font-size: 24px;
      color: #fff;
      padding-left: 5px;
    }
  }

  &__content {
    span {
      font-size: 24px;
      margin-bottom: 15px;
      display: block;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
    }
    p {
      line-height: 1.6em;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
    small {
      font-size: 14px;
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }

  &__disclist {
    padding-left: 25px;
    li {
      list-style: disc;
      line-height: 2em;
    }
  }

  &__btn {
    margin-top: 20px;
    a {
      &::after {
        content: "";
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url(../images/common/btn-arrow_orange.svg) center / contain no-repeat;
      }
    }
  }
}

// タイムテーブル

.c-timetable {
  margin-top: 30px;
  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    padding-left: 40px;
    border-bottom: 1px solid rgba(var(--color-main));
    position: relative;
    width: 100%;
    line-height: 2.5em;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
      font-size: 20px;
      line-height: 2em;
      margin-bottom: 30px;
    }
    &::before {
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      background: rgba(var(--color-main));
      opacity: 0.3;
    }
    &--orange {
      border-bottom: 1px solid rgba(var(--color-orange));
      &::before {
        background: rgba(var(--color-orange));
        opacity: 1;
      }
    }
  }

  &__table01 {
    width: 100%;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
      tr {
        &:not(:last-child) {
          th {
            border-bottom: none;
          }
        }
      }
    }

    th,
    td {
      border: solid 1px #c9c9c9; /**/
      vertical-align: middle;
      padding: 20px;
      box-sizing: border-box;
      @media screen and (max-width: 768px) {
        display: block;
        padding: 10px 20px;
      }
    }
    td {
      width: 20%;
      background: rgba(99, 174, 225, 0.1);
      text-align: center;
      font-size: 18px;
      @media screen and (max-width: 768px) {
        width: 100%;
        font-size: 16px;
        border-bottom: none;
      }
    }
    th {
      width: 80%;
      color: #fff;
      text-align: left;
      font-size: 14px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      ul {
        list-style: disc;
        padding-left: 20px;
        li {
          list-style: disc;
          &:not(:last-child) {
            margin-bottom: 10px;
          }
          &::marker {
            color: rgba(var(--color-main));
            font-size: 20px;
          }
        }
      }
    }
  }

  &__table03 {
    width: 100%;
    @media screen and (max-width: 768px) {
      width: 700px;
    }
    th,
    td {
      border: solid 1px #f1e6d8; /**/
      vertical-align: middle;
      padding: 20px 20px;
      background-color: #fff;
      width: 33%;
    }
    td {
      border: solid 1px #f1e6d8;
    }
    th {
      border: solid 1px #f1e6d8;
      background-color: rgba(var(--color-orange), 0.1);
    }
    .vertical-align-top {
      vertical-align: top;
    }
  }
  td,
  th {
    color: rgba(var(--color-text));
  }
}

// カード

.c-card02 {
  background: rgba(var(--color-main), 0.05);
  padding: 60px 45px;
  border-radius: 20px;
  @media screen and (max-width: 768px) {
    padding: 40px 20px;
  }
  &--title {
    margin-bottom: 20px;
    span {
      font-size: clamp(20px, 1.8vw, 28px);
      @media screen and (max-width: 768px) {
        font-size: 22px;
      }
    }
  }
  &--text {
    p {
      line-height: 2em;
    }
  }

  &--btn {
    margin-top: 40px;
    width: fit-content;
    margin-left: auto;
    @media screen and (max-width: 768px) {
      margin-top: 20px;
      margin-left: 0;
    }
  }
}

.c-card03 {
  &__list {
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr !important;
    }
  }
  &__item {
    border: 1px solid rgba(224, 138, 149, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    figure {
      img {
        aspect-ratio: 495/311;
        object-fit: cover;
      }
      figcaption {
        padding: 30px 40px;
        @media screen and (max-width: 768px) {
          padding: 20px 15px;
        }
      }
    }
  }
  &__head {
    font-size: 22px;
    color: rgba(224, 138, 149, 1);
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
    span {
      width: 35px;
      height: 35px;
      display: inline-block;
      background: rgba(224, 138, 149, 1);
      text-align: center;
      align-content: center;
      line-height: 1.5;
      border-radius: 50px;
      color: #fff;
      margin-right: 10px;
      @media screen and (max-width: 768px) {
        width: 25px;
        height: 25px;
      }
    }
  }
}

.c-card04 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  &--item {
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    &:not(:last-child) {
      &::before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent transparent #e0aa8a;
        border-width: 30px 0px 30px 28px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -28px;
        @media screen and (max-width: 768px) {
          top: auto;
          bottom: -28px;
          left: 50%;
          transform: translateX(-50%);
          border-color: #e0aa8a transparent transparent transparent;
          border-width: 28px 30px 0px 30px;
        }
      }
    }
  }

  &--head {
    background-color: #e0aa8a;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-size: 24px;
    border-radius: 10px 10px 0 0;
    @media screen and (max-width: 768px) {
      padding: 15px 20px;
      font-size: 18px;
    }
    &.gray {
      background: #f2f2f2;
      color: #4d4f48;
    }
  }

  &--body {
    padding: 40px;
    @media screen and (max-width: 768px) {
      padding: 25px;
    }
  }
  &--box {
    width: fit-content;
    span {
      display: block;
      font-size: 20px;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }
    p {
      margin-block: 20px;
      @media screen and (max-width: 768px) {
        margin-block: 10px;
      }
      b {
        font-weight: 500;
      }
    }
  }
}

.c-bg-main {
  background: rgba(var(--color-main), 0.05);
}

// 取り組みカード

.c-attempt {
  &__list {
    gap: 40px !important;
    margin-top: 60px;
  }
  &__card {
    border: 1px solid rgba(var(--color-main), 1);
    border-radius: 20px;
    position: relative;
    &:not(:last-child) {
      &::before {
        content: "";
        width: 21px;
        height: 61px;
        background-image: url(../images/common/triangle.svg);
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        top: 50%;
        transform: translateY(-50%);
        right: -21px;
        @media screen and (max-width: 768px) {
          top: auto;
          bottom: -42px;
          left: 50%;
          transform: translateX(-50%) rotate(90deg);
        }
      }
    }
    &--head {
      padding: 0px 40px;
      height: 80px;
      background: linear-gradient(
        135deg,
        rgba(117, 197, 181, 0.4),
        rgba(var(--color-main), 0.4) // ← var(--color-main)にもα値を追加
      );
      text-align: center;
      position: relative;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.2em;
      border-radius: 20px 20px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 1.4em;
        height: auto;
        padding-block: 15px;
      }
    }
    &--body {
      padding: 20px 25px;
      @media screen and (max-width: 768px) {
        padding: 20px 25px;
      }
    }
    &--box {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
      span {
        font-size: 20px;
        font-weight: 500;
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}

//パンクず
.c-breadcrumbs {
  margin-top: 30px;
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 10px;
  font-size: 30px;
  color: rgba(var(--color-main), 1);
  @media screen and (max-width: 768px) {
    margin-top: 10px;
    gap: 0px;
    font-size: 20px;
  }
  span {
    font-size: 16px;
    color: rgba(var(--color-text));
    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
    a {
      font-size: 16px;
      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
}

// ボタン

.c-btn {
  &--arrow {
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    margin-top: 40px;
    @media screen and (max-width: 768px) {
      padding: 15px 25px;
      font-size: 14px;
      width: 100% !important;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      transition: transform 0.3s;
      background: url(../images/common/btn-arrow_white.svg) center center / contain no-repeat;
    }
  }
  @media (hover: hover) {
    &--arrow:hover {
      &::after {
        transform: translateX(-20px);
      }
    }
  }
}

.c-linkmore {
  h4 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 30px;
    position: relative;
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
    &::after {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      background: #4d4f48;
    }
    &.no-disc {
      padding-left: 0;
      &::after {
        display: none;
      }
    }
  }

  &--list {
    flex-wrap: wrap;
    gap: 20px;
    width: 80%;
    margin-top: 30px;
    @media screen and (max-width: 768px) {
      width: 100%;
      a {
        font-size: 13px;
        width: 100%;
        gap: 10px;
        text-align: left;
      }
    }
  }
  &--item {
    width: fit-content;
    height: 70px;
    background-color: rgba(var(--color-pink), 0.1);
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  &__btn {
    position: relative;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    color: #e0aa8a !important;
    &::after {
      content: "";
      display: inline-block;
      width: 40px;
      height: 40px;
      flex-shrink: 0;
      transition: transform 0.3s;
      background: url(../images/common/btn-arrow_pink.svg) center center / contain no-repeat;
    }
  }
  .no-link {
    a {
      &::after {
        display: none !important;
      }
    }
  }
}

// アコーディオン

.c-accordion {
  &__item {
    position: relative;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__header {
    padding: 30px 40px 30px 100px;
    background: rgba(var(--color-main), 0.1);
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    position: relative;

    // 角丸をふわっと変化させる
    transition: border-radius 0.3s ease, transform 0.3s ease;
    @media screen and (max-width: 768px) {
      padding: 20px 40px 20px 55px;
    }
    &.active {
      background: linear-gradient(
        135deg,
        rgba(117, 197, 181, 0.4),
        rgba(var(--color-main), 0.4) // ← var(--color-main)にもα値を追加
      );
      border-radius: 20px 20px 0 0; // 上だけ角丸
      transform: translateY(-2px); // 少し浮かせるとよりふわっと感UP

      i {
        background: #fff;
        color: rgba(var(--color-main));
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 1px;
      right: 20px;
      bottom: 0;
      width: 12px;
      height: 2px;
      margin: auto;
      background: #151e2f;
    }
    &::after {
      transform: rotate(-90deg);
      transition: transform 0.3s;
    }
    &.active::after {
      transform: rotate(0deg);
    }

    i {
      position: absolute;
      left: 0;
      top: 0%;
      width: 64px;
      height: 64px;
      background: linear-gradient(135deg, rgba(117, 197, 181, 0.4), rgba(var(--color-main), 0.4));
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      color: #fff;
      font-size: 28px;
      @media screen and (max-width: 768px) {
        width: 44px;
        height: 44px;
        font-size: 18px;
        border-radius: 10px;
      }
    }
    button {
      text-align: left;
    }
  }

  &__content {
    display: none;
    padding: 30px 40px 30px 100px;
    background: rgba(var(--color-main), 0.05);
    border-radius: 0 0 20px 20px;
    position: relative;
    @media screen and (max-width: 768px) {
      padding: 30px 40px 30px 55px;
      font-size: 14px;
    }
    i {
      position: absolute;
      left: 25px;
      top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      color: rgba(var(--color-main), 1);
      font-size: 28px;
      @media screen and (max-width: 768px) {
        left: 20px;
        font-size: 20px;
      }
    }

    &.active {
    }
  }
}

// タブ切り替え

.c-tab {
  margin: 0 auto;
  &-buttons {
    display: flex;
    gap: 10px;
    @media screen and (max-width: 768px) {
      gap: 5px;
    }
    button {
      padding: 10px 20px;
      background: none;
      border: none;
      border-radius: 10px 10px 0 0;
      cursor: pointer;
      font-size: 16px;
      transition: all 0.3s;
      width: 50%;
      background: #f2f2f2;
      @media screen and (max-width: 768px) {
        font-size: 8px;
        line-height: 1.6em;
        padding-inline: 5px;
      }
      &:hover {
        background-color: #e0aa8a;
        color: #fff;
      }
      &.active {
        background-color: #e0aa8a;
        color: #fff;
      }
    }
  }

  &-contents {
    border: 2px solid #f2f2f2;
    border-top: none;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 40px;
    @media screen and (max-width: 768px) {
      padding: 30px 20px;
    }
    .content {
      display: none;
      padding: 20px 0;
      animation: fadeIn 0.3s ease-in-out;
      @media screen and (max-width: 768px) {
        padding-top: 0;
      }
      h3 {
        font-size: 24px;
        border-bottom: 2px solid #e0aa8a;
        color: #e0aa8a;
        margin-bottom: 20px;
        padding-bottom: 10px;
        width: fit-content;
        @media screen and (max-width: 768px) {
          font-size: 18px;
        }
      }
      h4 {
        font-size: 20px;
        margin-top: 20px;
        @media screen and (max-width: 768px) {
          font-size: 17px;
        }
      }

      h5 {
        font-size: 18px;
        margin-top: 15px;
        position: relative;
        padding-left: 15px;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
        &::before {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          content: "";
          width: 5px;
          height: 5px;
          border-radius: 50px;
          background-color: #4d4f48;
        }
      }

      p {
        margin-top: 15px;
        line-height: 2em;
        b {
          font-weight: bold;
        }
      }
      &.active {
        display: block;
      }

      .border-box {
        border: 1px solid #f2f2f2;
        padding: 30px;
        border-radius: 10px;
        span {
          font-size: 18px;
          font-weight: 500;
        }
        a {
          border-bottom: 1px solid #4d4f48;
        }
      }
      .note {
        margin-top: 10px;
        font-size: 14px;
      }
      .note-list {
        margin-top: 10px;
      }
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

// コンテンツボックス

.c-contentbox {
  background: rgba(var(--color-main), 0.05);
  padding: 60px;
  border-radius: 20px;
  @media screen and (max-width: 768px) {
    padding: 40px 25px;
  }
  &.color-orange {
    background: rgba(233, 166, 81, 0.1);
    border: 1px solid rgba(233, 166, 81, 1);
    .c-sec__title {
      &::before {
        background: url("../images/common/sec-title-deco02.svg") center/contain no-repeat;
      }
    }
  }

  &.color-pink {
    background: rgba(253, 249, 250, 1);
    border: 1px solid rgba(224, 170, 138, 1);
    .c-sec__title {
      &::before {
        background: url("../images/common/sec-title-deco02.svg") center/contain no-repeat;
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: 60px;
  }

  &--subtitle {
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      margin-top: 30px;
      font-size: 18px;
    }
  }
  p {
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

// ボーダーボックス
.c-border-box {
  border: 1px solid rgba(var(--color-main), 1);
  padding: 40px !important;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 80px;
  @media screen and (max-width: 768px) {
    padding: 40px 25px !important;
  }
  h2 {
    align-items: center;
    margin-bottom: 40px;
    span {
      font-size: 32px;
      @media screen and (max-width: 768px) {
        font-size: 24px;
      }
    }
  }

  h3 {
    font-size: 22px;
    margin-bottom: 30px;
    @media screen and (max-width: 768px) {
      font-size: 18px;
    }
  }
  p {
    line-height: 2em;
  }

  &__btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    a {
      margin-top: 0;
      width: 400px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    &--center {
      margin-top: 60px;
      a {
        width: 320px;
        justify-content: center;
        &::after {
          position: absolute;
          right: 5%;
        }
      }
    }
  }
}

// グラフ
.c-contentbox {
  .c-graph {
    text-align: center;
    margin: 60px 0;
    @media screen and (max-width: 768px) {
      margin: 30px 0;
    }
    h4 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 40px;
      color: #009aa7;
    }

    &--img {
      margin-block: 40px;
      margin-inline: auto;
      text-align: center;
      max-width: 720px;
      img {
        width: 100%;
        @media screen and (max-width: 768px) {
          width: 80%;
        }
      }
    }
    @media screen and (max-width: 768px) {
      img {
        width: 85%;
      }
    }
  }

  .desc {
    line-height: 1.8em;
  }

  .c-works {
    text-align: center;
    margin: 60px auto;
    width: 540px;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 0;
    }
    h4 {
      font-size: 22px;
      margin-bottom: 40px;
      font-weight: bold;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px 20px;
      @media screen and (max-width: 768px) {
        row-gap: 15px;
      }
      li {
        width: 48%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        a {
          background: rgba(99, 174, 225, 0.1);
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px;
          gap: 30px;
          &::after {
            content: "";
            display: inline-block;
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            transition: transform 0.3s;
            background: url(../images/common/btn-arrow_bgwhite.svg) center / contain no-repeat;
          }
        }
      }
    }
  }
}
.color-orange {
  .c-graph--img {
    margin-bottom: 0 !important;
  }
}

.color-pink {
  @media screen and (max-width: 768px) {
    img {
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .color-pink {
    img {
      width: 100% !important;
    }
  }
}

// テーブル

// 下層ページ

.l-page {
  position: relative;
  z-index: 99;
}

.l-main {
  &--content {
    .l-container {
      width: calc((1040 / 1340) * 100vw);
      max-width: 1340px;
      @media screen and (max-width: 768px) {
        width: 90%;
      }
    }
  }
}

.l-article {
  .c-sec__head {
    margin-bottom: 60px;
  }
  h1 {
    margin-bottom: 10px;
  }
  &-wrap {
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      row-gap: 60px;
    }
  }
  &-box {
    width: 67%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    h2 {
      font-size: 30px;
      line-height: 1.5;
      letter-spacing: 0.05em;
      margin-top: 80px;
      color: #fff;
      background: rgba(var(--color-main));
      padding: 5px 25px;
      @media screen and (max-width: 768px) {
        font-size: 22px;
        font-weight: 600;
      }
    }

    h3 {
      font-size: 24px;
      line-height: 1.5;
      letter-spacing: 0.05em;
      margin-top: 80px;
      padding-bottom: 5px;
      font-size: 26px;
      border-bottom: 1px solid #bababa;
      @media screen and (max-width: 768px) {
        font-size: 20px;
        font-weight: 600;
      }
    }

    h4 {
      font-size: 20px;
      font-weight: 500;
      margin-top: 40px;
      @media screen and (max-width: 768px) {
        font-size: 16px;
        font-weight: 600;
      }
    }

    p {
      margin-top: 20px;
    }
    strong {
      font-weight: 600;
    }

    ul {
      margin-top: 20px;
      padding-left: 20px;
      li {
        list-style: disc;
      }
    }

    ol {
      margin-top: 20px;
      padding-left: 20px;
      li {
        list-style: auto;
      }
    }

    a {
      color: rgba(var(--color-main));
      text-decoration: underline;
      display: block;
      img {
        margin-top: 0 !important;
      }
    }

    img {
      margin-top: 30px;
      display: block;
    }
  }
  &-sidebox {
    width: 25%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  &-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.05em;
    margin-bottom: 40px;
    @media screen and (max-width: 768px) {
      font-size: 26px;
    }
  }
  .wp-block-buttons {
    a {
      color: #fff !important;
      text-decoration: none !important;
      margin-top: 10px;
      padding: 15px 30px;
      display: block;
      text-decoration: none !important;
      line-height: 1;
    }
  }
  .is-layout-flex {
    margin-top: 30px !important;
    @media screen and (max-width: 768px) {
      row-gap: 10px !important;
    }
  }
}

.l-categories,
.l-years {
  span {
    font-size: 18px;
    font-weight: 500;
    display: block;
    padding: 15px 25px;
    background-color: rgba(var(--color-main), 1);
    color: #fff;
    line-height: 1;
    border-radius: 10px 10px 0 0;
  }
  &__list {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }
  &__item {
    display: flex;
    flex-direction: column;
    background-color: rgba(var(--color-main), 0.05);
    &:not(:last-child) {
      border-bottom: 1px solid rgba(var(--color-main), 0.1);
    }
    a {
      font-size: 16px;
      display: block;
      padding: 20px 25px;
      line-height: 1;
      position: relative;
      transition: 0.4s;
      &::before {
        content: "";
        display: block;
        width: 6px;
        height: 6px;
        border-top: rgba(var(--color-main), 1) solid 1px;
        border-right: rgba(var(--color-main), 1) solid 1px;
        transform: rotate(45deg) translateY(-50%);
        position: absolute;
        top: 50%;
        right: 10%;
        transition: 0.4s;
      }
      @media (hover: hover) {
        &:hover {
          &::before {
            right: 5%;
            transition: 0.4s;
          }
        }
      }
    }
  }
}

.l-categories {
  margin-bottom: 60px;
}

.note-list {
  margin-top: 30px;
  li {
    margin-top: 0;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}

.note {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42em;
  display: table;
  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
  &::before {
    content: "※";
    display: table-cell;
  }
}

//

@media screen and (max-width: 768px) {
  header {
    display: none;
  }
  .c-side-menu {
    display: none;
  }
}

// スクロール
@media screen and (max-width: 768px) {
  .js-scrollable {
    width: 100%;
    overflow: scroll;
    display: block;
    img {
      width: 1000px;
      max-width: unset;
    }
  }
}
