.p-department {
  .c-sec {
    &__title--ja {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }
  .desc {
    margin-bottom: 80px;
    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  &__point__list {
    text-align: center;

    img {
      width: 100%;
    }
    p {
      margin-top: 10px;
    }
  }

  &__point__item {
    background-color: rgba(var(--color-main), 0.05);
    padding: 100px 40px 40px;
    position: relative;
    border-radius: 20px;
    @media screen and (max-width: 768px) {
      padding: 100px 15px 40px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__facility__list {
    text-align: center;
    row-gap: 40px !important;
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr !important;
      row-gap: 30px !important;
    }
    img {
      width: 100%;
    }
    p {
      margin-top: 10px;
      @media screen and (max-width: 768px) {
        font-size: 13px;
      }
    }
  }

  .point-num {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 0 0 20px 0;
    color: rgb(var(--color-main));
    font-size: 24px;
    line-height: 1;
    font-weight: 500;
    b {
      display: block;
      color: rgb(var(--color-main));
      font-size: 16px;
    }
  }

  .point-contents {
    &.flex {
      display: flex;
      align-items: center;
      gap: 80px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        row-gap: 30px;
      }
    }

    &.flex > .point-contents__text {
      width: 70%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    &__text {
      text-align: left;

      &--title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
        span {
          color: rgb(var(--color-main));
        }
      }
      &--sub {
        font-size: 20px;
        margin-bottom: 30px;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
      &--desc {
        font-size: 18px;
        @media screen and (max-width: 768px) {
          font-size: 16px;
        }
      }
    }
    &__img {
      width: 30%;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    &__card {
      &--box {
        &:last-child {
          background-color: #fff;
          padding: 60px;
          border-radius: 20px;
          @media screen and (max-width: 768px) {
            padding: 0 !important;
            overflow: hidden;
          }
        }
        gap: 40px;
        align-items: center;
        .left {
          width: 30%;
          @media screen and (max-width: 768px) {
            width: 100%;
          }
        }
        .right {
          width: 70%;
          @media screen and (max-width: 768px) {
            width: 100%;
            padding: 0px 25px 25px;
          }
          p {
            text-align: left;
          }
        }
        @media screen and (max-width: 768px) {
          flex-direction: column;
          padding: 20px 0px !important;
        }
      }

      &--title {
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 30px;
        padding-left: 1.5em;
        text-align: left;
        position: relative;

        @media screen and (max-width: 768px) {
          font-size: 20px;
        }
        &::before {
          content: "";
          width: 15px;
          height: 15px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 10px;
          background: rgba(var(--color-main));
          opacity: 0.3;
        }
      }

      &--list {
        @media screen and (max-width: 768px) {
          grid-template-columns: 1fr !important;
        }
      }

      &--item {
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;

        figure {
          figcaption {
            padding: 20px 30px;
            text-align: left;
            @media screen and (max-width: 768px) {
              padding: 20px;
            }
            h3 {
              font-size: 22px;
              color: rgba(var(--color-main));
              text-align: center;
            }
            p {
              line-height: 1.6em;
            }
          }
        }
      }

      &--cross {
        margin-block: 30px;
        background-color: transparent;
        @media screen and (max-width: 768px) {
          margin-block: 0 15px;
        }
        img {
          width: 45px;
        }
      }
    }
  }

  .p-department__btn {
    margin-top: 120px;
    a {
      text-decoration: underline;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}
