.p-educators {
  &__lead {
    margin-bottom: 0px;
  }
  iframe {
    width: 600px;
    height: 450px;
    aspect-ratio: 16 / 9;
    @media screen and (max-width: 768px) {
      width: 100%;
      height: auto;
    }
  }

  &__list {
    margin-top: 30px;
    gap: 30px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    li {
      width: 400px;
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
    h3 {
      font-size: 18px !important;
      @media screen and (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}
