.c-event-cta {
  background: rgba(224, 138, 149, 1);
  background: linear-gradient(135deg, rgba(224, 138, 149, 1) 0%, rgba(233, 166, 81, 1) 100%);
  max-width: 1040px;
  margin: 140px auto 80px;
  border-radius: 20px;
  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    h3 {
      font-size: 54px;
      font-weight: 400;
      color: #fff;
      margin-bottom: 15px;
    }
    p {
      font-size: 24px;
      color: #fff;
    }
  }

  &__arrow {
    margin-top: 30px;
  }
}
