.p-support {
  &__borderinner {
    span {
      font-size: 18px;
      padding-block: 3px;
      color: #fff;
      background-color: rgba(var(--color-orange), 1);
      top: -35px;
    }
    .c-point__item {
      background-color: #fff;
      border: 1px solid rgba(var(--color-orange), 1);
    }
  }

  &__list {
  }
}

.p-aboutsupport {
  .bg-orange {
    background-color: #e0aa8a;
    padding: 5px;
    color: #fff;
    @media screen and (max-width: 768px) {
      padding: 2px 5px;
    }
  }
}

.p-originalsupport {
  h3 {
    margin-bottom: 40px;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .desc {
    margin-bottom: 40px;
  }
}

.p-otehrsupport {
  &__box {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.p-supportinfo--url {
  ul {
    width: 100%;
    li {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
      a {
        width: 320px;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }

      div {
        margin-top: 20px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        min-height: 170px;
        @media screen and (max-width: 768px) {
          min-height: auto;
        }
      }
    }
  }
}
