.u-col-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.u-col-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.u-col-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.u-color-orange {
  color: rgba(var(--color-orange), 1);
}
.u-color-darkgreen {
  color: rgba(var(--color-darkgreen), 1);
}
.u-color-pink {
  color: #e0aa8a;
}

.u-sp {
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
}

.u-f32 {
  font-size: 32px;
  @media screen and (max-width: 768px) {
    font-size: 24px;
  }
}
