@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
:root {
  --color-orange: 233, 166, 81;
  --color-darkgreen: 0, 154, 167;
}

.c-pageheader {
  position: relative;
  height: 500px;
  display: flex;
  z-index: -1;
  margin-bottom: 120px;
}
.c-pageheader_title {
  width: fit-content;
}
.c-pageheader_title--en {
  font-size: 20px;
  text-transform: uppercase;
  background: linear-gradient(90deg, #63aee1, #75c5b5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.c-pageheader_title--jp {
  font-size: 38px;
}
.c-pageheader_title:before {
  content: "";
  background: url(../images//lower/accessmap/kv.png) no-repeat center;
  width: 763px !important;
  height: 482px !important;
  position: absolute;
  background-size: cover !important;
  top: 0px;
  right: -100px;
  z-index: -1;
}
.c-pageheader_title--accessmap:before {
  background: url(../images//lower/accessmap/kv.png) no-repeat center;
}
.c-pageheader_title--year:before {
  background: url(../images//lower/campuslife/kv.png) no-repeat center;
}
.c-pageheader_title--corporate:before {
  background: url(../images//lower/corporate/kv.png) no-repeat center;
}
.c-pageheader_title--course:before {
  background: url(../images//lower/course/kv.png) no-repeat center;
}
.c-pageheader_title--department:before {
  background: url(../images//lower/department/kv.png) no-repeat center;
}
.c-pageheader_title--qa:before {
  background: url(../images//lower/faq/kv.png) no-repeat center;
}
.c-pageheader_title--support:before {
  background: url(../images//lower/support/kv.png) no-repeat center;
}
.c-pageheader_title--guidelines:before {
  background: url(../images//lower/guidelines/kv.png) no-repeat center;
}
.c-pageheader_title--jobdata:before {
  background: url(../images//lower/jobdata/kv.png) no-repeat center;
}
.c-pageheader_title--web-entry:before {
  background: url(../images//lower/online-admissions/kv.png) no-repeat center;
}

.c-sec {
  padding: 0px 0 120px;
}
@media screen and (max-width: 768px) {
  .c-sec {
    padding: 60px 0 80px;
  }
}
.c-sec__title--big span {
  font-size: 32px;
  margin-bottom: 40px;
}
.c-sec__lead {
  margin-bottom: 100px;
}
.c-sec__lead h2 {
  margin-bottom: 30px;
}
.c-sec__lead .desc {
  margin-top: 0 !important;
  margin-bottom: 40px !important;
  line-height: 2em;
}
.c-sec__lead .desc span {
  font-size: 20px;
  font-weight: 600;
  display: block;
  margin-bottom: 10px;
}

.c-lower__title {
  font-size: 32px;
}

.c-voice {
  border-radius: 0px 0 20px 20px;
  background: rgba(224, 138, 149, 0.05);
  border: 1px solid rgb(224, 138, 149);
  margin-top: 50px;
  padding: 25px 40px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .c-voice {
    padding: 25px 15px;
  }
}
.c-voice__deco {
  position: absolute;
  left: -1px;
  top: -35px;
  padding: 5px 20px;
  background-color: rgb(224, 138, 149);
  border-radius: 10px 10px 0 0;
  color: #fff;
}
.c-voice figure {
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .c-voice figure {
    flex-direction: column;
  }
}
.c-voice figure img {
  max-width: 115px;
  aspect-ratio: 1;
}
.c-voice figure figcaption {
  width: 80%;
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .c-voice figure figcaption {
    width: 100%;
  }
}
.c-voice figure figcaption h4 {
  font-size: 24px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .c-voice figure figcaption h4 {
    font-size: 18px;
  }
}
.c-voice figure figcaption p {
  margin: 0 !important;
}

.c-point__item {
  border-radius: 0px 20px 20px 20px;
  background: rgba(var(--color-main), 0.1);
  border: 1px solid rgba(var(--color-main), 1);
  margin-top: 50px;
  padding: 25px 40px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .c-point__item {
    padding: 25px 15px;
  }
}
.c-point__item:not(:last-child) {
  margin-bottom: 80px;
}
.c-point__deco {
  position: absolute;
  left: -1px;
  top: -39px;
  padding: 0px 20px;
  background-color: rgba(var(--color-main), 1);
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-size: 12px;
}
.c-point__deco b {
  font-size: 24px;
  color: #fff;
  padding-left: 5px;
}
.c-point__content span {
  font-size: 24px;
  margin-bottom: 15px;
  display: block;
}
@media screen and (max-width: 768px) {
  .c-point__content span {
    font-size: 20px;
  }
}
.c-point__content p {
  line-height: 2em;
}
.c-point__disclist {
  padding-left: 25px;
}
.c-point__disclist li {
  list-style: disc;
  line-height: 2em;
}

.c-timetable {
  margin-top: 30px;
}
.c-timetable__title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
  padding-left: 40px;
  border-bottom: 1px solid rgba(var(--color-main));
  position: relative;
  width: 100%;
  line-height: 2.5em;
}
@media screen and (max-width: 768px) {
  .c-timetable__title {
    font-size: 20px;
    line-height: 1.4em;
  }
}
.c-timetable__title::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  background: rgba(var(--color-main));
  opacity: 0.3;
}
.c-timetable__title--orange {
  border-bottom: 1px solid rgba(var(--color-orange));
}
.c-timetable__title--orange::before {
  background: rgba(var(--color-orange));
  opacity: 1;
}
.c-timetable__table01 {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .c-timetable__table01 tr:not(:last-child) th {
    border-bottom: none;
  }
}
.c-timetable__table01 th,
.c-timetable__table01 td {
  border: solid 1px #c9c9c9; /**/
  vertical-align: middle;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .c-timetable__table01 th,
  .c-timetable__table01 td {
    display: block;
    padding: 10px 20px;
  }
}
.c-timetable__table01 td {
  width: 20%;
  background: rgba(99, 174, 225, 0.1);
  text-align: center;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .c-timetable__table01 td {
    width: 100%;
    font-size: 16px;
    border-bottom: none;
  }
}
.c-timetable__table01 th {
  width: 80%;
  color: #fff;
  text-align: left;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .c-timetable__table01 th {
    width: 100%;
  }
}
.c-timetable__table01 th ul {
  list-style: disc;
  padding-left: 20px;
}
.c-timetable__table01 th ul li {
  list-style: disc;
}
.c-timetable__table01 th ul li:not(:last-child) {
  margin-bottom: 10px;
}
.c-timetable__table01 th ul li::marker {
  color: rgba(var(--color-main));
  font-size: 20px;
}
.c-timetable__table03 {
  width: 100%;
}
.c-timetable__table03 th,
.c-timetable__table03 td {
  border: solid 1px #f1e6d8; /**/
  vertical-align: middle;
  padding: 20px 20px;
  background-color: #fff;
  width: 33%;
}
.c-timetable__table03 td {
  border: solid 1px #f1e6d8;
}
.c-timetable__table03 th {
  border: solid 1px #f1e6d8;
  background-color: rgba(var(--color-orange), 0.1);
}
.c-timetable__table03 .vertical-align-top {
  vertical-align: top;
}

.c-card02 {
  background: rgba(var(--color-main), 0.05);
  padding: 60px;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .c-card02 {
    padding: 40px 20px;
  }
}
.c-card02--title {
  margin-bottom: 20px;
}
.c-card02--title span {
  font-size: 28px;
}
@media screen and (max-width: 768px) {
  .c-card02--title span {
    font-size: 22px;
  }
}
.c-card02--text p {
  line-height: 2em;
}
.c-card02--btn {
  margin-top: 40px;
  width: fit-content;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .c-card02--btn {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media screen and (max-width: 768px) {
  .c-card03__list {
    grid-template-columns: 1fr !important;
  }
}
.c-card03__item {
  border: 1px solid rgb(224, 138, 149);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}
.c-card03__item figure img {
  aspect-ratio: 495/311;
  object-fit: cover;
}
.c-card03__item figure figcaption {
  padding: 30px 40px;
}
@media screen and (max-width: 768px) {
  .c-card03__item figure figcaption {
    padding: 20px 15px;
  }
}
.c-card03__head {
  font-size: 22px;
  color: rgb(224, 138, 149);
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .c-card03__head {
    font-size: 18px;
  }
}
.c-card03__head span {
  width: 35px;
  height: 35px;
  display: inline-block;
  background: rgb(224, 138, 149);
  text-align: center;
  align-content: center;
  line-height: 1.5;
  border-radius: 50px;
  color: #fff;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .c-card03__head span {
    width: 25px;
    height: 25px;
  }
}

.c-card04 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.c-card04--item {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.c-card04--item:not(:last-child)::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent #e0aa8a;
  border-width: 30px 0px 30px 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -28px;
}
.c-card04--head {
  background-color: #e0aa8a;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 24px;
  border-radius: 10px 10px 0 0;
}
.c-card04--head.gray {
  background: #f2f2f2;
  color: #4d4f48;
}
.c-card04--body {
  padding: 40px;
}
.c-card04--box {
  width: fit-content;
}
.c-card04--box span {
  display: block;
  font-size: 20px;
}
.c-card04--box p {
  margin-block: 20px;
}
.c-card04--box p b {
  font-weight: 500;
}

.c-bg-main {
  background: rgba(var(--color-main), 0.05);
}

.c-attempt__list {
  gap: 40px !important;
  margin-top: 60px;
}
.c-attempt__card {
  border: 1px solid rgba(var(--color-main), 1);
  border-radius: 20px;
  position: relative;
}
.c-attempt__card:not(:last-child)::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent transparent rgba(var(--color-main), 1);
  border-width: 30px 0px 30px 28px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -28px;
}
.c-attempt__card--head {
  padding: 0px 40px;
  height: 80px;
  background: linear-gradient(135deg, rgba(117, 197, 181, 0.4), rgba(var(--color-main), 0.4));
  text-align: center;
  position: relative;
  font-size: 24px;
  line-height: 1.2em;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-attempt__card--body {
  padding: 20px 40px;
}
.c-attempt__card--box:not(:last-child) {
  margin-bottom: 25px;
}
.c-attempt__card--box span {
  font-size: 20px;
  display: block;
  margin-bottom: 10px;
}

.c-breadcrumbs {
  margin-top: 30px;
  display: flex;
  align-items: center;
  line-height: 1;
  gap: 10px;
  font-size: 30px;
  color: rgba(var(--color-main), 1);
}
.c-breadcrumbs span {
  font-size: 16px;
}
.c-breadcrumbs span a {
  font-size: 16px;
}

.c-btn--arrow {
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-top: 40px;
}
.c-btn--arrow::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  transition: transform 0.3s;
  background: url(../images/common/btn-arrow_white.svg) center center/contain no-repeat;
}

.c-linkmore h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-left: 30px;
  position: relative;
}
.c-linkmore h4::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  background: #4d4f48;
}
.c-linkmore h4.no-disc {
  padding-left: 0;
}
.c-linkmore h4.no-disc::after {
  display: none;
}
.c-linkmore--list {
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  margin-top: 30px;
}
.c-linkmore--item {
  width: fit-content;
  height: 70px;
  background-color: rgba(var(--color-pink), 0.1);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}
.c-linkmore__btn {
  position: relative;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  color: #e0aa8a !important;
}
.c-linkmore__btn::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  transition: transform 0.3s;
  background: url(../images/common/btn-arrow_pink.svg) center center/contain no-repeat;
}

.c-accordion__item {
  position: relative;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  overflow: hidden;
}
.c-accordion__item:not(:last-child) {
  margin-bottom: 40px;
}
.c-accordion__header {
  padding: 30px 40px 30px 100px;
  background: rgba(var(--color-main), 0.1);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  position: relative;
  transition: border-radius 0.3s ease, transform 0.3s ease;
}
.c-accordion__header.active {
  background: linear-gradient(135deg, rgba(117, 197, 181, 0.4), rgba(var(--color-main), 0.4));
  border-radius: 20px 20px 0 0;
  transform: translateY(-2px);
}
.c-accordion__header.active i {
  background: #fff;
  color: rgba(var(--color-main));
}
.c-accordion__header::before, .c-accordion__header::after {
  position: absolute;
  content: "";
  top: 1px;
  right: 20px;
  bottom: 0;
  width: 12px;
  height: 2px;
  margin: auto;
  background: #151e2f;
}
.c-accordion__header::after {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.c-accordion__header.active::after {
  transform: rotate(0deg);
}
.c-accordion__header i {
  position: absolute;
  left: 0;
  top: 0%;
  width: 64px;
  height: 64px;
  background: linear-gradient(135deg, rgba(117, 197, 181, 0.4), rgba(var(--color-main), 0.4));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: #fff;
  font-size: 28px;
}
.c-accordion__content {
  display: none;
  padding: 30px 40px 30px 100px;
  background: rgba(var(--color-main), 0.05);
  border-radius: 0 0 20px 20px;
  position: relative;
}
.c-accordion__content i {
  position: absolute;
  left: 25px;
  top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  color: rgba(var(--color-main), 1);
  font-size: 28px;
}
.c-tab {
  margin: 0 auto;
}
.c-tab-buttons {
  display: flex;
  gap: 10px;
}
.c-tab-buttons button {
  padding: 10px 20px;
  background: none;
  border: none;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s;
  width: 50%;
  background: #f2f2f2;
}
.c-tab-buttons button:hover {
  background-color: #e0aa8a;
  color: #fff;
}
.c-tab-buttons button.active {
  background-color: #e0aa8a;
  color: #fff;
}
.c-tab-contents {
  border: 2px solid #f2f2f2;
  border-top: none;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 40px;
}
.c-tab-contents .content {
  display: none;
  padding: 20px 0;
  animation: fadeIn 0.3s ease-in-out;
}
.c-tab-contents .content h3 {
  font-size: 24px;
  border-bottom: 2px solid #e0aa8a;
  color: #e0aa8a;
  margin-bottom: 20px;
  padding-bottom: 10px;
  width: fit-content;
}
.c-tab-contents .content h4 {
  font-size: 20px;
  margin-top: 20px;
}
.c-tab-contents .content h5 {
  font-size: 18px;
  margin-top: 15px;
  position: relative;
  padding-left: 15px;
}
.c-tab-contents .content h5::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: #4d4f48;
}
.c-tab-contents .content p {
  margin-top: 15px;
  line-height: 2em;
}
.c-tab-contents .content p b {
  font-weight: bold;
}
.c-tab-contents .content.active {
  display: block;
}
.c-tab-contents .content .border-box {
  border: 1px solid #f2f2f2;
  padding: 30px;
  border-radius: 10px;
}
.c-tab-contents .content .border-box span {
  font-size: 18px;
  font-weight: 500;
}
.c-tab-contents .content .border-box a {
  border-bottom: 1px solid #4d4f48;
}
.c-tab-contents .content .note {
  margin-top: 10px;
  font-size: 14px;
}
.c-tab-contents .content .note-list {
  margin-top: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.c-contentbox {
  background: rgba(var(--color-main), 0.05);
  padding: 60px;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .c-contentbox {
    padding: 40px 15px;
  }
}
.c-contentbox.color-orange {
  background: rgba(233, 166, 81, 0.1);
  border: 1px solid rgb(233, 166, 81);
}
.c-contentbox.color-orange .c-sec__title::before {
  background: url("../images/common/sec-title-deco02.svg") center/contain no-repeat;
}
.c-contentbox.color-pink {
  background: rgb(253, 249, 250);
  border: 1px solid rgb(224, 170, 138);
}
.c-contentbox.color-pink .c-sec__title::before {
  background: url("../images/common/sec-title-deco02.svg") center/contain no-repeat;
}
.c-contentbox:not(:last-child) {
  margin-bottom: 60px;
}
.c-contentbox--subtitle {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .c-contentbox--subtitle {
    font-size: 20px;
  }
}

.c-border-box {
  border: 1px solid rgba(var(--color-main), 1);
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 80px;
}
.c-border-box h2 {
  align-items: center;
  margin-bottom: 40px;
}
.c-border-box h2 span {
  font-size: 32px;
}
.c-border-box h3 {
  font-size: 20px;
  margin-bottom: 30px;
}
.c-border-box p {
  line-height: 2em;
}
.c-border-box__btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.c-border-box__btn a {
  margin-top: 0;
  width: 400px;
}
.c-border-box__btn--center {
  margin-top: 60px;
}
.c-border-box__btn--center a {
  width: 320px;
  justify-content: center;
}
.c-border-box__btn--center a::after {
  position: absolute;
  right: 5%;
}

.c-contentbox .c-graph {
  text-align: center;
  margin: 60px 0;
}
.c-contentbox .c-graph h4 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
  color: #009aa7;
}
.c-contentbox .c-graph--img {
  margin-block: 40px;
  margin-inline: auto;
  text-align: center;
  max-width: 720px;
}
.c-contentbox .c-graph--img img {
  width: 100%;
}
.c-contentbox .c-works {
  text-align: center;
  margin: 60px auto;
  width: 540px;
}
@media screen and (max-width: 768px) {
  .c-contentbox .c-works {
    width: 100%;
    margin-bottom: 0;
  }
}
.c-contentbox .c-works h4 {
  font-size: 22px;
  margin-bottom: 40px;
  font-weight: bold;
}
.c-contentbox .c-works ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px 20px;
}
@media screen and (max-width: 768px) {
  .c-contentbox .c-works ul {
    row-gap: 15px;
  }
}
.c-contentbox .c-works ul li {
  width: 48%;
}
@media screen and (max-width: 768px) {
  .c-contentbox .c-works ul li {
    width: 100%;
  }
}
.c-contentbox .c-works ul li a {
  background: rgba(99, 174, 225, 0.1);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
}
.c-contentbox .c-works ul li a::after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  transition: transform 0.3s;
  background: url(../images/common/btn-arrow_bgwhite.svg) center/contain no-repeat;
}

.l-main--content .l-container {
  width: 77.6119402985vw;
  max-width: 1340px;
}
@media screen and (max-width: 768px) {
  .l-main--content .l-container {
    width: 90%;
  }
}

.l-article-wrap {
  justify-content: space-between;
}
.l-article-box {
  width: 67%;
}
.l-article-box h2 {
  font-size: 3.4rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-top: 80px;
  color: #fff;
  background: rgba(var(--color-main));
  padding: 5px 25px;
}
.l-article-box h3 {
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin-top: 80px;
  padding-bottom: 5px;
  font-size: 2.6rem;
  border-bottom: 1px solid #bababa;
}
.l-article-box h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 40px;
}
.l-article-box p {
  margin-top: 20px;
}
.l-article-box ul {
  margin-top: 20px;
  padding-left: 20px;
}
.l-article-box ul li {
  list-style: disc;
}
.l-article-box ol {
  margin-top: 20px;
  padding-left: 20px;
}
.l-article-box ol li {
  list-style: auto;
}
.l-article-box a {
  color: rgba(var(--color-main));
  text-decoration: underline;
}
.l-article-box img {
  margin-top: 30px;
  display: block;
}
.l-article-sidebox {
  width: 25%;
}
.l-article-title {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
}

.l-categories span,
.l-years span {
  font-size: 18px;
  font-weight: 500;
  display: block;
  padding: 15px 25px;
  background-color: rgba(var(--color-main), 1);
  color: #fff;
  line-height: 1;
  border-radius: 10px 10px 0 0;
}
.l-categories__list,
.l-years__list {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.l-categories__item,
.l-years__item {
  display: flex;
  flex-direction: column;
  background-color: rgba(var(--color-main), 0.05);
}
.l-categories__item:not(:last-child),
.l-years__item:not(:last-child) {
  border-bottom: 1px solid rgba(var(--color-main), 0.1);
}
.l-categories__item a,
.l-years__item a {
  font-size: 16px;
  display: block;
  padding: 20px 25px;
  line-height: 1;
  position: relative;
  transition: 0.4s;
}
.l-categories__item a::before,
.l-years__item a::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-top: rgba(var(--color-main), 1) solid 1px;
  border-right: rgba(var(--color-main), 1) solid 1px;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 10%;
  transition: 0.4s;
}
@media (hover: hover) {
  .l-categories__item a:hover::before,
  .l-years__item a:hover::before {
    right: 5%;
    transition: 0.4s;
  }
}

.l-categories {
  margin-bottom: 60px;
}

.note-list {
  margin-top: 30px;
}
.note-list li {
  margin-top: 0;
}
.note-list li:not(:last-child) {
  margin-bottom: 5px;
}

.note {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.42em;
  opacity: 0.6;
  display: table;
}
.note::before {
  content: "※";
  display: table-cell;
}

@media screen and (max-width: 768px) {
  header {
    display: none;
  }
  .c-side-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .js-scrollable {
    width: 100%;
    overflow: scroll;
    display: block;
  }
  .js-scrollable img {
    width: 1000px;
    max-width: unset;
  }
}
.p-course .desc {
  margin-top: 60px;
  margin-bottom: 60px;
}
.p-course__lead {
  margin-bottom: 100px;
}
.p-course__lead .desc {
  margin-top: 0 !important;
  margin-bottom: 30px !important;
}
.p-course__lead h2 {
  font-size: 47px;
  display: flex;
  align-items: center;
  gap: 20px;
  color: rgb(224, 170, 138);
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .p-course__lead h2 {
    font-size: 34px;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
    margin-bottom: 10px;
  }
}
.p-course__lead h2 p {
  border: 1px solid rgb(224, 170, 138);
  padding: 5px 30px;
  border-radius: 50px;
  font-size: 20px;
  color: rgb(224, 170, 138);
}
@media screen and (max-width: 768px) {
  .p-course__lead h2 p {
    font-size: 16px;
  }
}
.p-course__lead h2 p i {
  background-color: rgb(224, 170, 138);
  font-size: 14px;
  padding: 0 10px;
  border-radius: 50px;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .p-course__lead h2 p i {
    font-size: 12px;
  }
}
.p-course__lead h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .p-course__lead h3 {
    font-size: 20px;
  }
}
.p-course__lesspon__card .desc {
  margin: 0;
}
.p-course__timetable__sample .c-timetable:not(:last-child) {
  margin-bottom: 80px;
}

.p-department .c-sec__title--ja {
  font-size: 32px;
  margin-bottom: 40px;
}
.p-department .desc {
  margin-bottom: 80px;
}
@media screen and (max-width: 768px) {
  .p-department .desc {
    margin-bottom: 40px;
  }
}
.p-department__point__list {
  text-align: center;
}
.p-department__point__list img {
  width: 100%;
}
.p-department__point__list p {
  margin-top: 10px;
}
.p-department__point__item {
  background-color: rgba(var(--color-main), 0.05);
  padding: 100px 40px 40px;
  position: relative;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .p-department__point__item {
    padding: 100px 15px 40px;
  }
}
.p-department__point__item:not(:last-child) {
  margin-bottom: 30px;
}
.p-department__facility__list {
  text-align: center;
  row-gap: 40px !important;
}
@media screen and (max-width: 768px) {
  .p-department__facility__list {
    grid-template-columns: 1fr 1fr !important;
    row-gap: 30px !important;
  }
}
.p-department__facility__list img {
  width: 100%;
}
.p-department__facility__list p {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .p-department__facility__list p {
    font-size: 13px;
  }
}
.p-department .point-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 0 0 20px 0;
  color: rgb(var(--color-main));
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
}
.p-department .point-num b {
  display: block;
  color: rgb(var(--color-main));
  font-size: 16px;
}
.p-department .point-contents.flex {
  display: flex;
  align-items: center;
  gap: 80px;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents.flex {
    flex-direction: column;
    row-gap: 30px;
  }
}
.p-department .point-contents.flex > .point-contents__text {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents.flex > .point-contents__text {
    width: 100%;
  }
}
.p-department .point-contents__text {
  text-align: left;
}
.p-department .point-contents__text--title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents__text--title {
    font-size: 20px;
  }
}
.p-department .point-contents__text--title span {
  color: rgb(var(--color-main));
}
.p-department .point-contents__text--sub {
  font-size: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents__text--sub {
    font-size: 16px;
  }
}
.p-department .point-contents__text--desc {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents__text--desc {
    font-size: 14px;
  }
}
.p-department .point-contents__img {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents__img {
    width: 100%;
  }
}
.p-department .point-contents__card--box {
  gap: 40px;
  align-items: center;
}
.p-department .point-contents__card--box:last-child {
  background-color: #fff;
  padding: 60px;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents__card--box:last-child {
    padding: 0 !important;
    overflow: hidden;
  }
}
.p-department .point-contents__card--box .left {
  width: 30%;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents__card--box .left {
    width: 100%;
  }
}
.p-department .point-contents__card--box .right {
  width: 70%;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents__card--box .right {
    width: 100%;
  }
}
.p-department .point-contents__card--box .right p {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents__card--box {
    flex-direction: column;
    padding: 20px 0px !important;
  }
}
.p-department .point-contents__card--title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-left: 1.5em;
  text-align: left;
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents__card--title {
    font-size: 20px;
  }
}
.p-department .point-contents__card--title::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  background: rgba(var(--color-main));
  opacity: 0.3;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents__card--list {
    grid-template-columns: 1fr !important;
  }
}
.p-department .point-contents__card--item {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}
.p-department .point-contents__card--item figure figcaption {
  padding: 20px 30px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .p-department .point-contents__card--item figure figcaption {
    padding: 20px;
  }
}
.p-department .point-contents__card--item figure figcaption h3 {
  font-size: 22px;
  color: rgba(var(--color-main));
  text-align: center;
}
.p-department .point-contents__card--item figure figcaption p {
  line-height: 1.8em;
}
.p-department .point-contents__card--cross {
  margin-block: 30px;
  background-color: transparent;
}
.p-department .point-contents__card--cross img {
  width: 45px;
}
.p-department .p-department__btn {
  margin-top: 120px;
}
.p-department .p-department__btn a {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .p-department .p-department__btn a {
    font-size: 14px;
  }
}

.p-campuslife__voice::before {
  content: "";
  background: black;
  position: absolute;
  border-radius: 0 20px 20px 0;
  left: -25%;
  bottom: 30px;
  width: 80%;
  height: calc(100% - 240px);
  background: linear-gradient(135deg, #75c5b5, rgb(var(--color-main)));
  opacity: 0.3;
  z-index: -1;
}

#campuslife .p-voice {
  position: relative;
  margin-bottom: 300px;
}
#campuslife .p-voice h2 span {
  margin-bottom: 60px;
}
#campuslife .p-voice--slider .swiper-slide {
  background-color: #fff;
  padding: 10px 40px 0;
  border-radius: 30px;
  border: rgb(var(--color-main)) 2px solid;
}
@media screen and (max-width: 768px) {
  #campuslife .p-voice--slider .swiper-slide {
    padding: 10px 20px 0;
  }
}
#campuslife .p-voice--slider__item {
  align-items: center;
}
@media screen and (max-width: 768px) {
  #campuslife .p-voice--slider__item {
    flex-direction: column;
    row-gap: 20px;
  }
}
#campuslife .p-voice--slider__item img {
  width: 30%;
}
@media screen and (max-width: 768px) {
  #campuslife .p-voice--slider__item img {
    width: 100%;
    padding: 0;
  }
}
#campuslife .p-voice--slider__item figcaption {
  width: 70%;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  #campuslife .p-voice--slider__item figcaption {
    width: 100%;
    padding: 0;
  }
}
#campuslife .p-voice--slider__item figcaption h4 {
  font-size: 22px;
  color: rgb(var(--color-main));
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #campuslife .p-voice--slider__item figcaption h4 {
    font-size: 18px;
  }
}
#campuslife .p-voice .swiper-pagination {
  position: unset;
  margin-top: 30px;
}
#campuslife .p-voice .swiper-button-prev {
  transform: scaleX(-1);
  left: -50px;
  top: 55%;
}
#campuslife .p-voice .swiper-button-next {
  right: -50px;
  top: 55%;
}
#campuslife .p-voice .swiper-button-next:after,
#campuslife .p-voice .swiper-button-prev:after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  transition: transform 0.3s;
  background: url(../images/common/btn-arrow.svg) center/contain no-repeat;
}
#campuslife .p-voice--name {
  font-size: 32px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #campuslife .p-voice--name {
    font-size: 24px;
    text-align: center;
  }
}
#campuslife .p-voice--name small {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  #campuslife .p-voice--name small {
    display: block;
    font-size: 14px;
  }
}

.p-online-admissions .c-sec h2 {
  margin-bottom: 60px;
}
@media screen and (max-width: 768px) {
  .p-online-admissions .c-sec h2 {
    margin-bottom: 80px;
  }
}

.p-flow__step--item {
  border-radius: 20px;
  background: rgba(0, 154, 167, 0.1);
  border: 1px solid rgb(0, 154, 167);
  margin-top: 50px;
  padding: 50px 40px 25px;
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-flow__step--item {
    padding: 50px 15px 25px;
  }
}
.p-flow__step--item:not(:last-child) {
  margin-bottom: 80px;
}
.p-flow__step--item:not(:last-child)::before {
  content: "";
  display: block;
  width: 2px;
  height: 50px;
  box-sizing: border-box;
  background-color: rgba(var(--color-darkgreen), 1);
  position: absolute;
  bottom: -50px;
  left: 66px;
}
@media screen and (max-width: 768px) {
  .p-flow__step--item:not(:last-child)::before {
    left: 42px;
  }
}
@media screen and (max-width: 768px) {
  .p-flow__step--item ul {
    grid-template-columns: 1fr !important;
    gap: 20px;
  }
}
.p-flow__step--item:nth-child(3) ul, .p-flow__step--item:nth-child(4) ul {
  grid-template-columns: 420px 420px;
  gap: 20px;
}
.p-flow__step--item:nth-child(5) ul {
  grid-template-columns: 380px 380px;
  gap: 20px;
}
.p-flow__deco {
  position: absolute;
  left: 2%;
  top: -39px;
  background-color: rgb(0, 154, 167);
  border-radius: 50px;
  color: #fff;
  font-size: 12px;
  width: 75px;
  height: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1em;
}
.p-flow__deco b {
  font-size: 24px;
  color: #fff;
  display: block;
  padding-top: 5px;
  line-height: 1;
}
.p-flow__title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  display: block;
}
@media screen and (max-width: 768px) {
  .p-flow__title {
    font-size: 20px;
  }
}
.p-flow__imgbox {
  margin-top: 30px;
}
.p-flow__imgbox li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .p-flow__imgbox li {
    padding: 25px 10px;
  }
}
.p-flow__imgbox li img {
  object-position: top;
  object-fit: contain;
  max-height: 370px;
  margin-bottom: auto;
}
.p-flow__step--ja {
  display: block;
  width: 100px;
  margin: 0 auto;
  background: rgb(var(--color-main));
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  padding: 7px 10px 5px;
  border-radius: 5px;
  line-height: 1;
}
.p-flow__step--desc {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 1.8em;
  text-align: center;
}
.p-flow__bgbox {
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 10px;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .p-flow__bgbox {
    padding: 25px 15px;
  }
}
.p-flow__addressbox {
  background-color: rgba(var(--color-darkgreen), 0.1);
  width: fit-content;
  margin-top: 20px;
  padding: 25px;
  border-radius: 10px;
}
.p-flow .note {
  font-size: 12px;
  color: #df122c;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .p-accessmap__overview figure {
    flex-direction: column;
  }
}
.p-accessmap__overview figure img {
  min-width: 460px;
  width: 40%;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__overview figure img {
    width: 100%;
    min-width: auto;
  }
}
.p-accessmap__overview figure figcaption {
  width: 60%;
  padding: 10px 40px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__overview figure figcaption {
    width: 100%;
    padding: 20px 0;
  }
}
.p-accessmap__overview figure figcaption h2 {
  font-size: 28px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__overview figure figcaption h2 {
    font-size: 20px;
  }
}
.p-accessmap__address {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__address {
    flex-direction: column;
    align-items: flex-start;
  }
}
.p-accessmap__tel {
  font-size: 42px;
  position: relative;
  padding-left: 65px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__tel {
    font-size: 24px;
  }
}
.p-accessmap__tel::before {
  content: "";
  width: 42px;
  height: 34px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  background-image: url(../images/lower/accessmap/freecall.png);
  background-size: contain;
}
.p-accessmap__note {
  background-color: rgba(var(--color-main), 0.1);
  padding: 15px 40px 15px 120px;
  position: relative;
  color: rgba(var(--color-main));
  border-radius: 10px;
  width: fit-content;
}
@media screen and (max-width: 768px) {
  .p-accessmap__note {
    padding: 10px 15px 10px 70px;
    font-size: 14px;
  }
}
.p-accessmap__note::before {
  content: "";
  width: 72px;
  height: 93px;
  position: absolute;
  bottom: 0;
  left: 30px;
  background-image: url(../images/lower/accessmap/woman.png);
  background-size: contain;
}
@media screen and (max-width: 768px) {
  .p-accessmap__note::before {
    width: 65px;
    height: 84px;
    left: -7px;
  }
}
.p-accessmap__note::after {
  content: "";
  position: absolute;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent rgba(var(--color-main), 0.1) transparent transparent;
  border-width: 10px 25px 10px 0px;
}
.p-accessmap__map {
  width: 100%;
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__map {
    margin-top: 30px;
  }
}
.p-accessmap__map iframe {
  width: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__map iframe {
    height: 200px;
  }
}
.p-accessmap__access {
  margin-top: 120px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__access {
    margin-top: 80px;
  }
}
.p-accessmap__access figure {
  gap: 80px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__access figure {
    flex-direction: column;
    row-gap: 30px;
  }
}
.p-accessmap__access figure img {
  min-width: 460px;
  width: 60%;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__access figure img {
    width: 100%;
    margin: 0 auto;
    min-width: auto;
  }
}
.p-accessmap__access figure figcaption {
  width: 40%;
  padding: 10px 0px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__access figure figcaption {
    width: 100%;
  }
}
.p-accessmap__time-list {
  background-color: rgba(var(--color-main), 0.1);
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
  border: 1px solid rgb(var(--color-main));
  border-radius: 0px 20px 20px 20px;
}
.p-accessmap__time-list i {
  position: absolute;
  left: -1px;
  top: -35px;
  padding: 5px 20px;
  background-color: rgb(var(--color-main));
  border-radius: 10px 10px 0 0;
  color: #fff;
}
.p-accessmap__time-list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 30px 120px 20px 45px;
}
@media screen and (max-width: 768px) {
  .p-accessmap__time-list ul {
    grid-template-columns: repeat(2, 1fr);
    padding: 25px 25px 25px 30px;
  }
}
.p-accessmap__time-list ul li {
  list-style: disc;
}
@media screen and (max-width: 768px) {
  .p-accessmap__time-list ul li {
    font-size: 13px;
  }
}

.p-corporate__greeting__img {
  margin-top: 80px;
  margin-bottom: 60px;
  gap: 80px;
  align-items: center;
}
.p-corporate__greeting__img--left {
  width: 70%;
}
.p-corporate__greeting__img--left h3 {
  margin-bottom: 30px;
  font-size: 28px;
}
.p-corporate__greeting__img--right {
  width: 30%;
}
.p-corporate__greeting__img--right img {
  border-radius: 10px;
}
.p-corporate__greeting p {
  line-height: 2em;
}
.p-corporate__history {
  padding-bottom: 140px;
}
.p-corporate__history p {
  margin-top: 80px;
  line-height: 2em;
}
.p-corporate .c-border-box a {
  width: fit-content;
}

.p-parents__list {
  margin-top: 30px;
  gap: 30px;
}
.p-parents__list li {
  width: 400px;
}
.p-parents__list li a {
  padding: 40px 30px;
  justify-content: center;
}
.p-parents__list li a h3 {
  font-size: 18px;
}
.p-parents__advice {
  border: 1px solid #009aa7;
  background: rgba(0, 154, 167, 0.1);
  border-radius: 20px;
  padding: 40px;
}
.p-parents__advice h2 {
  color: #009aa7;
  font-size: 28px;
  margin-bottom: 40px;
}
.p-parents__advice h2 span {
  color: #009aa7;
  font-size: 36px;
}
.p-parents__advice--qa-item {
  padding: 0 80px;
}
.p-parents__advice--qa-item:first-child {
  border-right: 2px solid #959595;
}
.p-parents__advice--qa-head {
  font-size: 22px;
}
.p-parents__advice--qa-text {
  margin-top: 30px;
  font-size: 18px;
}
.p-parents__advice--qa-text b {
  font-size: 32px;
  padding-right: 5px;
}
.p-parents__advice--qa-graph {
  text-align: center;
}
.p-parents__advice--qa-graph img {
  max-width: 400px;
  margin: 30px auto 20px;
  display: block;
}
.p-parents__advice--qa-graph small {
  display: inline;
}
.p-parents__advice--answer {
  margin-top: 40px;
  font-size: 18px;
}
.p-parents__advice--answer h4 {
  font-size: 28px;
  margin-block: 60px 40px;
}
.p-parents__advice--answer p {
  font-size: 20px;
  line-height: 2em;
  margin-block: 30px 0px;
}
.p-parents__advice--answer p b {
  font-size: 28px;
}
.p-parents__attempt {
  padding-top: 120px;
}

.c-event-cta {
  background: rgb(224, 138, 149);
  background: linear-gradient(135deg, rgb(224, 138, 149) 0%, rgb(233, 166, 81) 100%);
  max-width: 1036px;
  margin: 80px auto;
  border-radius: 20px;
}
.c-event-cta__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c-event-cta__text h3 {
  font-size: 54px;
  font-weight: 400;
  color: #fff;
  margin-bottom: 15px;
}
.c-event-cta__text p {
  font-size: 24px;
  color: #fff;
}
.c-event-cta__arrow {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .p-contact .u-col-2 {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}

.p-support__borderinner span {
  font-size: 18px;
  padding-block: 3px;
  color: #fff;
  background-color: rgba(var(--color-orange), 1);
  top: -35px;
}
.p-support__borderinner .c-point__item {
  background-color: #fff;
  border: 1px solid rgba(var(--color-orange), 1);
}
.p-aboutsupport .bg-orange {
  background-color: #e0aa8a;
  padding: 5px;
  color: #fff;
}

.p-originalsupport h3 {
  margin-bottom: 40px;
}
.p-originalsupport .desc {
  margin-bottom: 40px;
}

.p-otehrsupport__box:not(:last-child) {
  margin-bottom: 30px;
}

.p-supportinfo--url ul li {
  width: 320px;
}
.p-supportinfo--url ul.p-info__list {
  gap: 20px;
  margin-top: 20px;
}
.p-supportinfo--url ul.p-info__list li {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.p-voice__btnbox {
  max-width: 1000px;
  margin: 100px auto 0;
  gap: 50px !important;
}
.p-voice__btn a {
  justify-content: space-between;
}
.p-voice__btn2 a {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
}
.p-voice__list {
  gap: 50px !important;
}
@media screen and (max-width: 768px) {
  .p-voice__list {
    grid-template-columns: 1fr !important;
    gap: 20px !important;
  }
}
.p-voice__listtitle {
  text-align: center;
  color: rgb(var(--color-main));
  font-size: 1.8rem;
}
.p-voice__listtitle.--dgreen {
  color: rgb(var(--color-dgreen));
}
.p-voice__listtitle.--orange {
  color: rgb(var(--color-orange));
}
.p-voice__listtitle.--pink {
  color: rgb(var(--color-pink));
}
.p-voice__listtxt {
  font-size: 1.4rem;
}
.p-voice__listname {
  font-size: 1.4rem;
  opacity: 0.5;
  text-align: center;
}
.p-voice__listitem {
  border: 1px solid rgba(var(--color-main));
  border-radius: 20px;
  background: rgba(var(--color-main), 0.05);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .p-voice__listitem {
    padding: 20px;
  }
}
.p-voice__listitem.--dgreen {
  border: 1px solid rgba(var(--color-dgreen));
  background: rgba(var(--color-dgreen), 0.05);
}
.p-voice__listitem.--pink {
  border: 1px solid rgba(var(--color-pink));
  background: rgba(var(--color-pink), 0.05);
}
.p-voice__listitem.--orange {
  border: 1px solid rgba(var(--color-orange));
  background: rgba(var(--color-orange), 0.05);
}

#qa .l-container {
  max-width: 1040px;
}

.p-faq__info {
  padding-top: 0;
}

.u-col-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.u-col-3 {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.u-col-4 {
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.u-color-orange {
  color: rgba(var(--color-orange), 1);
}

.u-color-darkgreen {
  color: rgba(var(--color-darkgreen), 1);
}

.u-color-pink {
  color: #e0aa8a;
}

.u-sp {
  display: none;
}
@media screen and (max-width: 768px) {
  .u-sp {
    display: block;
  }
}

.u-f32 {
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .u-f32 {
    font-size: 24px;
  }
}