.l-container {
  width: 90%;
  margin: auto;
}
.l-content {
  width: calc(100% - 100px);
}

/* --- l-header --- */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 100px);
}
.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 100px;
}
.c-nav {
  display: flex;
  gap: 30px;
}
.c-nav__item {
  font-size: 1.5rem;
  font-weight: 500;
}
/* --- l-footer --- */

.l-footer {
  background-color: rgba(var(--color-main), 0.1);
  padding: 100px;
  border-radius: 20px;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
}

.l-footer__inner {
  @media screen and (max-width: 768px) {
    width: 90%;
    margin: auto;
  }
}
.l-footer__content {
  display: flex;
  flex-direction: column;
  gap: 100px;
  @media screen and (max-width: 768px) {
    gap: 40px;
  }
}
.c-footer-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 20px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    padding: 15px;
    display: none;
    .c-footer-nav__item {
      border-bottom: 1px solid rgba(var(--color-text), 0.2);
      a {
        padding: 10px 0;
      }
    }
  }
}
.l-container--footer {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.l-footer__top {
  gap: 30px;
  align-items: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.l-footer__addr {
  font-size: 1.5rem;
}
.l-footer__middle {
  @media screen and (max-width: 768px) {
    background: #fff;
    border-radius: 10px;
  }
}
.c-footer__ttl {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    margin-bottom: 0;
    &::after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      transition: transform 0.3s;
      background: url("../images/common/ttl-arrow.svg") center/contain no-repeat;
    }
    &.active {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}
.c-footer__ttl2 {
  padding: 10px 15px 5px;
}
.c-footer-nav__link {
  font-size: 1.3rem;
  display: flex;
  gap: 10px;
  align-items: center;
  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/common/nav-arrow.svg") center/contain no-repeat;
  }
}

.c-footer-nav2 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 10px 20px;
  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
.c-footer-nav2__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (max-width: 768px) {
    gap: 10px;
  }
}

.c-footer-nav2__link {
  font-size: 1.8rem;
  font-weight: 500;
  @media screen and (max-width: 768px) {
    font-size: 1.6rem;
  }
}

.c-footer-innav2 {
  border-left: 1px solid rgba(var(--color-main), 0.5);
  padding-left: 20px;
  margin: 20px 0;
  @media screen and (max-width: 768px) {
    margin: 10px 0;
    padding-left: 10px;
  }
}
.c-footer-innav2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.c-footer-innav2__link {
  font-size: 1.4rem;
  display: flex;
  gap: 10px;
  align-items: center;
  &::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/common/nav-arrow.svg") center/contain no-repeat;
  }
}

.l-footer__copy {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 1.3rem;
  @media screen and (max-width: 768px) {
    flex-direction: column-reverse;
    align-items: center;
    font-size: 1rem;
  }
}

.c-logo-sanko {
}
.c-logo-sanko__item {
  max-height: 50px;
  img {
    object-fit: contain;
  }
}
/* --- c-side-menu --- */

.c-side-menu {
  position: sticky;
  height: 100%;
  top: 0;
  right: 0;
  width: 100px;
  border-left: 1px solid #f2f2f2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.c-side-menu__nav {
  flex-shrink: 0;
}
.c-side-menu__item {
  background: rgba(var(--color-main));
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.c-side-menu__item--link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  gap: 4px;
}
.c-side-menu__item--img {
  width: 40px;
  height: 40px;
}

.c-side-menu__bar {
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  border-radius: 2px;
  transition: transform 0.3s;
}
.c-side-menu__bars-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  &.--active {
    .c-side-menu__bar {
      position: absolute;
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(135deg);
      }
    }
  }
}
.c-side-menu__item--txt {
  color: #fff;
}
.c-side-menu__item--txt {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
}

.c-side-menu__item:not(:last-child) {
  &::before {
    content: "";
    height: 1px;
    width: 90%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.5px;
    background: #fff;
    margin: auto;
    z-index: 1;
    opacity: 0.5;
  }
}
.c-side-menu2__nav {
  height: 100%;
}
.c-side-menu2__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.c-side-menu2__item {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-size: 1.4rem;
}

/* --- c-sec-title --- */
.c-sec__title {
  display: flex;
  flex-direction: column;
  gap: 15px;
  &::before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 4px;
    background: url("../images/common/sec-title-deco.svg") center/contain no-repeat;
  }
}
.c-sec__title--center {
  align-items: center;
  text-align: center;
}
.c-sec__title--en {
  font-size: 4.7rem;
  font-weight: 500;
  line-height: 1em;
  &.--white {
    color: #fff;
  }
}
.c-sec__title--ja {
  font-size: 2rem;
  font-weight: 500;
  &.--white {
    color: #fff;
  }
}

/* --- c-btn --- */
.c-btn {
  display: inline-block;
  min-width: 150px;
  text-align: center;
  border-radius: 100px;
  width: fit-content;
  padding: 10px 20px;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  background: linear-gradient(135deg, rgb(var(--color-main)) 0%, rgb(var(--color-main)) 50%, #009aa7 100%);
}
.c-btn__link {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(var(--color-main));
  display: flex;
  align-items: center;
  gap: 20px;
  &::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../images/common/btn-arrow.svg") center/contain no-repeat;
  }
}
.c-btn__link-anchor {
  &::after {
    transform: rotate(90deg);
  }
}
.c-btn__link-border {
  border-bottom: 1px solid rgba(var(--color-main));
  padding-bottom: 20px;
}
/* --- c-news__list --- */

.c-news__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.c-news__item {
  + .c-news__item {
    border-top: 1px solid rgba(var(--color-main));
    padding-top: 30px;
  }
}

.c-news__link {
  display: grid;
  grid-template-columns: 200px 1fr 40px;
  gap: 30px;
  align-items: center;
  &::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
    background: url("../images/common/btn-arrow.svg") center/contain no-repeat;
  }
  &:hover {
    &::after {
      transform: translateX(-20px);
    }
  }
}
.c-news__img {
  background: black;
  border-radius: 10px;
  aspect-ratio: 16/9;
}
.c-news__head {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.c-news__cat {
  background: rgba(var(--color-main));
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  line-height: 1em;
  font-size: 1.4rem;
  font-weight: 500;
}
.c-news__time {
  font-size: 1.3rem;
  color: rgba(var(--color-text), 0.5);
}
.c-news__body {
  overflow: hidden !important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5em;
}
.p-top-news {
  padding: 150px 0;
}
.p-top-news__inner {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  justify-content: space-between;
}

.p-top-news__btn {
  margin-top: 100px;
}

.p-top-carrier {
  position: relative;
  margin-top: 150px;
  padding-bottom: 80px;
  &:before {
    content: "";
    background: black;
    position: absolute;
    border-radius: 0 20px 20px 0;
    left: 0;
    bottom: 0;
    width: 60%;
    height: calc(100% - 130px);
    background: linear-gradient(135deg, #75c5b5, rgb(var(--color-main)));
    opacity: 0.3;
    z-index: -1;
  }
}

.p-top-carrier__inner {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 7%;
}
.p-top-carrier__left {
  display: flex;
  gap: 60px;
  flex-direction: column;
  padding-top: 80px;
}
.p-top-carrier__right {
  width: 120%;
}
.p-top-carrier__list {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.c-card1 {
  background: #fff;
  border-radius: 20px;
}

.c-card1__link {
  display: flex;
  gap: 30px;
  padding: 40px;
  align-items: center;
  &::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    transition: transform 0.3s;
    background: url("../images/common/btn-arrow.svg") center/contain no-repeat;
  }
  &:hover {
    &::after {
      transform: translateX(-20px);
    }
  }
}
.c-card1__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.c-card1__head {
  color: rgb(var(--color-main));
  font-weight: 500;
  font-size: 2.5rem;
}

.c-card1__txt {
  line-height: 2em;
}

.p-top-carrier__img {
  background: #000;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.p-top-exan {
  padding: 150px 0;
  background: url("../images/home/exam-bg.jpg") center/cover no-repeat;
}
.p-top-exam__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
}
.p-top-exam__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.p-top-exam__description {
  color: #fff;
  text-align: right;
}

.p-top-department {
}
.p-top-department__inner {
  display: grid;
  grid-template-columns: 44% 1fr;
}
.p-top-department__left {
  height: 100%;
  width: 100%;
}
.p-top-department__right {
  display: flex;
  gap: 100px;
  flex-direction: column;
  padding-top: 80px;
  padding: 150px 10%;
}
.p-top-department__img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.p-top-department__item {
  + .p-top-department__item {
    border-top: 1px solid rgba(var(--color-main));
    padding-top: 30px;
    margin-top: 30px;
  }
}

.p-top-department__item-head {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 500;
}
.p-top-department__item-num {
  color: rgb(var(--color-main));
  font-weight: 500;
  font-size: 3rem;
  margin-right: 10px;
}

.p-top-department__item-link {
  display: flex;
  gap: 30px;
  align-items: center;
  &::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    transition: transform 0.3s;
    background: url("../images/common/btn-arrow.svg") center/contain no-repeat;
  }
  &:hover {
    &::after {
      transform: translateX(-20px);
    }
  }
}

.p-top-department__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.p-top-feature {
  padding: 150px 0;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    z-index: -1;
    opacity: 0.1;
    background: linear-gradient(to bottom, rgba(99, 174, 225, 0) 0%, rgba(99, 174, 225, 1) 45%, rgba(117, 197, 181, 1) 100%);
  }
}

.p-top-feature__tools {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.p-top-feature__pagenation {
  font-size: 4rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  * {
    color: rgba(var(--color-main));
    line-height: 1em;
  }
}

.p-top-feature__pagenation-sep {
  width: 20px;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 6px;
}
.p-top-feature__pagenation-sepborder {
  width: 1px;
  height: 30px;
  background: rgba(var(--color-main));
  display: inline-block;
  transform: rotate(30deg);
}

.p-top-feature__arrows-next,
.p-top-feature__arrows-prev {
  display: flex;
  align-items: center;
  &::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    transition: transform 0.3s;
    background: url("../images/common/btn-arrow.svg") center/contain no-repeat;
  }
  &:hover {
    &::after {
      transform: translateX(-10px);
    }
  }
}

.p-top-feature__arrows-prev {
  transform: scaleX(-1);
}

.p-top-feature__head {
  margin-bottom: 50px;
}

.p-top-feature__left {
  padding: 100px 10%;
}

.p-top-feature__item-num {
  color: rgb(var(--color-main));
  font-size: 3rem;
  font-weight: 500;
  display: block;
}

.p-top-feature__title--num {
  font-size: 4rem;
}

.p-top-feature__title--ja {
  font-size: 2.6rem;
}

.p-top-feature__item-head {
  margin-bottom: 20px;
  font-size: 3.6rem;
  font-weight: 500;
}

.p-top-feature__item-description {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2em;
}

.p-top-feature__item-img {
  background: #000;
  height: 100%;
  width: 100%;
  border-radius: 20px 0 0 20px;
}

.p-top-feature__inner {
  display: grid;
  grid-template-columns: 60% 1fr;
}

.p-top-event__head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 100px;
}

.p-top-feature__infinity {
  opacity: 0.2;
  * {
    font-weight: 600;
    font-size: 7vw;
    background: linear-gradient(90deg, #63aee1, #75c5b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.p-top-feature__infinity {
  margin-bottom: 50px;
  .swiper-wrapper {
    transition-timing-function: linear;
  }
  .swiper-slide {
    word-break: keep-all;
    white-space: nowrap;
    width: fit-content;
  }
}
.p-top-mv {
  margin-bottom: 150px;
}
